<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>title</title>
  <style>
    #container {
      display: flex;
      justify-content: center;
    }
  </style>
</head>
<body>
<h1>Initial Claims</h1>
<p>
  William Cao, Henry Liu, Ethan Chen -- HEW <br/>
  SoftDev pd1 <br/>
  K18 -- Come Up For Air <br/>
  2020-04-21 <br/>
</p>
<div id="container"></div>

<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>